img.left {
	float: left;
	margin: 5px 20px 20px 0;
}

img.top {
	margin: 5px 0 20px 0;
}
#header {
	position: relative;
	padding: 40px;
	height: 120px;
	width:  200px;
}

#logo {
	position: absolute;
	top: 40px;
	left: 40px;
	height: 120px;
	line-height: 120px;
}

#logo a {
	text-decoration: none;
	color: #fff;
}

#logo h1 {
	font-size: 3.5em;
	font-family: Lobster, cursive;
	text-shadow: 0 2px 1px #32251B;
}

nav {
	position: absolute;
	right: 40px;
	height: 53px;
	line-height: 53px;
	top: 73px;
}

#nav a {
	text-decoration: none;
	text-transform: lowercase;
	color: #f4eeea;
	text-shadow: 0 1px 1px #32251B;
	font-size: 1.2em;
}

#nav li {
	margin: 0 1em 0 1em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
}